.ScrollUpButton {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  transition: transform 0.3s ease;
  cursor: pointer;
  color: white;

  .Text {
    width: max-content;
  }

  &.rotated {
    bottom: 80px;
    position: fixed;
    right: 80px;

    transform: rotate(90deg);
    transform-origin: center;

    color: currentColor;
  }
}

body[data-theme="dark"] .ScrollUpButton.rotated {
  color: white;
}
