.ScrollUpButton {
  transition: transform 0.3s ease;
  cursor: pointer;
  color: white;
  width: max-content;

  &.rotated {
    bottom: 80px;
    position: fixed;
    right: 80px;

    transform: rotate(90deg);
    transform-origin: center;

    color: currentColor;
  }
}

body[data-theme="dark"] .ScrollUpButton.rotated {
  color: white;
}

@media (max-width: 1440px) {
  .ScrollUpButton {
    &.rotated {
      bottom: 70px;

      right: 10px;
    }
  }
}
// Tablets
@media (max-width: 1024px) {
  .ScrollUpButton {
    &.rotated {
      bottom: 70px;

      right: 10px;
    }
  }
}

@media (max-width: 480px) {
  .ScrollUpButton {
    &.rotated {
      bottom: 70px;

      right: 5px;
    }
  }
}
