/* src/styles/global.scss o donde lo tengas */

.arrowContainer {
  transition: transform 0.3s;
  transform: translate(0, 0px);
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  color: currentColor;
}
.arrowContainer:hover {
  transform: translate(2px, -6px);
}

.arrowIconDiagonal {
  width: 1.5rem;
  height: auto;
  margin-left: 4px;
  transition: transform 0.3s;
  transform: translate(0, 6px);
}

.arrowContainer:hover .arrowIconDiagonal {
  transform: translate(2px, 3px);
}

/* src/styles/global.scss o donde lo tengas */
.arrowIconVertical {
  width: 1.5rem;
  height: auto;
  margin-left: 4px;
  transition: transform 0.3s;
  transform: translate(0, 3px) rotate(-45deg);
}

.arrowContainer:hover .arrowIconVertical {
  transform: translate(0px, 1px) rotate(-45deg);
}
