/* src/pages/Home/Home.module.scss */
.bodyContainer {
  padding: 2rem;
  text-align: center;
  justify-content: center;

  width: 100%;
  max-width: 1200px;
}

// Breakpoints Responsive
// Laptops/monitores medianos
@media (min-width: 1367px) and (max-width: 1440px) {
  .bodyContainer {
    padding: 1.8rem;

    max-width: 1150px;
  }
}

// Netbook (1025px - 1366px)
@media (min-width: 1025px) and (max-width: 1366px) {
  .bodyContainer {
    padding: 1.5rem;
    max-width: 900px;
  }
}

@media (max-width: 1440px) {
  .bodyContainer {
    max-width: 1000px;
  }
}

// Tablets
@media (max-width: 1024px) {
  .bodyContainer {
    padding: 2rem;
    margin: 0 auto;
    text-align: center;

    width: 100%;
    max-width: 100%;
  }
}

// Móviles
@media (max-width: 768px) {
  .bodyContainer {
    padding: 0.5rem;
  }
}
