.UserSection {
  display: block;
  gap: 2rem;
}
.UserTop {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .ImgContainer img {
    width: 200px;
  }
  .textContainer {
    max-width: 400px;
  }
}

.UserBottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

// Breakpoints Responsive
// Laptops/monitores medianos
@media (max-width: 1440px) {
  .UserSection {
    background: red !important;
  }
}

// Tablets
@media (max-width: 1024px) {
  .UserSection {
    background: green !important;
  }
}

// Móviles
@media (max-width: 768px) {
  .UserSection {
    background: yellow !important;
  }
}