.welcomeSection {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: auto;

  .welcomeContainer {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
    .welcomeLeft {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      .welcomeTop {
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 630px;
        height: min-content;

        .welcomeTitle {
          font-family: "Inter", sans-serif;
          font-size: 6.875rem; // 110px
          font-weight: 400;

          text-align: left;
          min-width: 45rem;

          p {
            padding: 0;
            margin: 3rem 0;
            letter-spacing: -0.04em;
          }
        }
        .welcomeTitle p::after {
          content: "|";
          animation: blink 1s step-end infinite;
          margin-left: 4px;
        }

        @keyframes blink {
          from,
          to {
            opacity: 0;
          }
          50% {
            opacity: 1;
          }
        }
      }
      .welcomeBottom {
        display: inline-flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        gap: 1rem;

        .welcomeTextContainer {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 3rem;
          height: 100%;

          .welcomeSubtitle {
            font-family: "Work Sans", sans-serif;
            font-size: 1.75rem;
            font-weight: 300;
            width: 100%;
            max-width: 600px;
            text-align: left;
            margin: 0;
          }
          .welcomeLinks {
            display: inline-flex;
            align-items: center;
            gap: 2rem;
          }
          .welcomeLinks a {
            text-decoration: none;
          }
        }
      }
    }
    .welcomeImgContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
      height: 54vh;
      width: 50vw;

      .languageSwitchContainer {
        display: flex;
        justify-content: flex-end;
        transform: translateY(20px);
      }

      .imageWrapper {
        width: 500px;
        height: 700px;
        transition: background-image 0.3s ease-in-out;
      }
    }
  }

  .welcomeContainerDos {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 200px;
  }
}

// Breakpoints Responsive
// Laptops/monitores medianos
@media (max-width: 1440px) {
  .welcomeSection {
    min-height: 100vh;
    margin-top: 120px;
    .welcomeContainer {
      align-items: flex-start;
      .welcomeLeft {
        padding-top: 70px;
        .welcomeTop {
          margin: 0;
          padding: 0;
          width: 100%;

          height: min-content;
          .welcomeTitle {
            min-width: 100%;
            p {
              padding: 0;
              margin: 2rem 0;

              width: 100%;
              min-width: 660px;
              max-width: 660px;
            }
          }
        }
        .welcomeBottom {
          width: 100%;
          min-width: 600px;
          max-width: 600px;
        }
      }
      .welcomeImgContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;

        height: 650px;
        width: 480px;

        .imageWrapper {
          width: 480px;
          max-width: 100%;
          height: 600px;
        }
      }
    }
  }
}

// Tablets
@media (max-width: 1024px) {
  .welcomeSection {
    min-height: max-content;
    margin: 150px auto;

    .welcomeContainer {
      justify-content: center;
      gap: 1rem;

      .welcomeLeft {
        justify-content: center;
        align-items: center;
        .welcomeTop {
          font-size: 5.5rem; // ~88px

          .welcomeTitle {
            min-width: 100%;
            p {
              padding: 0;
              margin: 2rem 0;

              width: 300px;
              min-width: 300px;
              max-width: 300px;
            }
          }
        }
        .welcomeBottom {
          width: 400px;
          min-width: 400px;
          max-width: 400px;
        }
      }

      .welcomeImgContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        height: 550px;
        width: 450px;

        .imageWrapper {
          width: 450px;
          max-width: 100%;
          height: 550px;
        }
      }

      .welcomeBottom {
        justify-content: center;
        align-items: center;
      }
    }
  }
}

// Móviles
@media (max-width: 768px) {
  .welcomeSection {
    min-height: max-content;
    margin: 100px auto 100px auto;

    .welcomeContainer {
      flex-direction: column;
      justify-content: center;
      gap: 1rem;

      .welcomeLeft {
        justify-content: center;
        align-items: center;
        .welcomeTop {
          .welcomeTitle {
            min-width: 100%;
            p {
              padding: 0;
              margin: 2rem 0;
              font-size: 4rem;
              height: 150px;

              width: 300px;
              min-width: 300px;
              max-width: 300px;
            }
          }
        }

        .welcomeBottom {
          width: 330px;
          min-width: 330px;
          max-width: 330px;

          .welcomeTextContainer {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 3rem;
            height: 100%;

            .welcomeSubtitle {
              font-size: 0.9rem;
            }
            .welcomeLinks {
              display: inline-flex;
              align-items: center;
              gap: 2rem;
            }
            .welcomeLinks a {
              text-decoration: none;
            }
          }
        }
      }

      .welcomeImgContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 400px;
        width: 400px;

        .languageSwitchContainer {
          display: none;
        }

        .imageWrapper {
          width: 100%;
          max-width: 100%;
          height: 550px;
        }
      }

      .welcomeBottom {
        justify-content: center;
        align-items: center;
      }
    }
    .welcomeContainerDos {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      height: 100px;
    }
  }
}

@media (max-width: 480px) {
  .welcomeSection {
    margin: 20px auto 100px auto;
    .welcomeContainer {
      .welcomeLeft {
        .welcomeTop {
          .welcomeTitle {
            p {
              margin: 0 0 1rem 0;
            }
          }
        }
      }

      .welcomeImgContainer {
        transform: translateX(-50px);
        height: 370px;
      }
    }
  }
}
