.ReflectionSection {
  // Default styles for 27" screens
}

// Breakpoints Responsive
// Laptops/monitores medianos
@media (max-width: 1440px) {
  .ReflectionSection {
    background: red !important;
  }
}

// Tablets
@media (max-width: 1024px) {
  .ReflectionSection {
    background: green !important;
  }
}

// Móviles
@media (max-width: 768px) {
  .ReflectionSection {
    background: yellow !important;
  }
}
