.contactSection {
  min-height: 70vh;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  .contactLeft {
    width: 700px;
    height: 500px;
    perspective: 1200px;

    .cardInner {
      position: relative;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &.rotated .cardInner {
      transform: rotateY(180deg);
    }
    .title {
      font-family: "Work Sans", sans-serif;
      font-size: 3rem;
      font-weight: 400;
    }
    .subtitle {
      font-size: 1.2rem;
      font-family: "Work Sans", sans-serif;
    }
    .cardFront .subtitle {
      opacity: 0.8;
    }
    .cardFront,
    .cardBack {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      border-radius: 15px;
      padding: 2.5rem 4rem;
      background-color: rgba(212, 212, 212, 0.1);
      border: 3px solid rgba(255, 255, 255, 0.5);
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    }

    .cardBack {
      transform: rotateY(180deg);
      box-shadow: 0 25px 50px rgba(0, 0, 0, 0.35);
      .contactLinkContainer {
        width: 300px;

        justify-content: space-between;
        display: inline-flex;
        align-items: center;

        a img.behance {
          width: 35px;
        }
        a img.linkedin {
          width: 35px;
          margin-bottom: 3px;
        }
        a img.mail {
          width: 30px;
        }
        a img.figma {
          width: 20px;
        }
        a img.whatsapp {
          width: 35px;
        }
      }
    }
  }

  .contactRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: 500px;
    margin: 0 2rem;
    .imgContainer {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;

      height: 330px;

      img {
        position: absolute;
        width: 330px;
        object-fit: cover;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;

        &.active {
          opacity: 1;
          z-index: 2;
        }
      }

      img.avatarAn {
        width: 330px;
      }

      img.avatarWink {
        width: 290px;
        margin-left: 25px;
      }
    }
  }
}
@media (min-width: 1367px) and (max-width: 1440px) {
  .contactSection {
    margin-top: 3rem;
    .contactLeft {
      width: 500px;
      height: 340px;

      .title {
        font-size: 2.8rem;
      }
      .cardFront .title {
        height: 6rem;
      }

      .cardFront,
      .cardBack {
        padding: 2.2rem 3.5rem;
      }

      .cardBack .contactLinkContainer {
        width: 280px;

        a img.behance,
        a img.linkedin,
        a img.whatsapp {
          width: 32px;
        }
        a img.mail {
          width: 28px;
        }
        a img.figma {
          width: 18px;
        }
      }
    }

    .contactRight {
      height: 500px;

      .imgContainer {
        height: 320px;

        img.avatarAn {
          width: 350px;
        }

        img.avatarWink {
          width: 310px;
        }
      }
    }
  }
}
// Netbook (1025px - 1366px)
@media (min-width: 1025px) and (max-width: 1366px) {
  .contactSection {
    .contactLeft {
      width: 650px;
      height: 480px;

      .title {
        font-size: 2.8rem;
      }

      .subtitle {
        font-size: 1.8rem;
      }

      .cardFront,
      .cardBack {
        padding: 2.2rem 3.5rem;
      }

      .cardBack .contactLinkContainer {
        width: 280px;

        a img.behance,
        a img.linkedin,
        a img.whatsapp {
          width: 32px;
        }
        a img.mail {
          width: 28px;
        }
        a img.figma {
          width: 18px;
        }
      }
    }

    .contactRight {
      height: 480px;

      .imgContainer {
        height: 320px;

        img.avatarAn {
          width: 320px;
        }

        img.avatarWink {
          width: 280px;
        }
      }
    }
  }
}

// Tablets
@media (max-width: 1024px) {
  .contactSection {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    width: 100%;

    .contactLeft {
      width: 100%;
      max-width: 450px;
      height: 400px;

      .title {
        font-size: 2.5rem;
      }

      .subtitle {
        font-size: 1.5rem;
      }

      .cardFront,
      .cardBack {
        padding: 2rem 3rem;
      }

      .cardBack .contactLinkContainer {
        width: 250px;
        gap: 1rem;

        a img {
          width: 30px;
        }
      }
    }

    .contactRight {
      margin: 0;
      justify-content: flex-end;
      margin-bottom: 2rem;
      align-items: center;
      height: 400px;
      width: 450px;

      .imgContainer {
        justify-content: flex-end;
        align-items: center;
        height: 250px;
        width: 100%;

        img.avatarAn {
          width: 350px;
        }

        img.avatarWink {
          width: 320px;
        }
      }
    }
  }
}

// Móviles
@media (max-width: 768px) {
  .contactSection {
    padding: 0 1rem;
    flex-direction: column-reverse;
    min-height: 100%;
    gap: 4rem;
    margin-bottom: 3rem;

    .contactLeft {
      height: 270px;
      width: 330px;

      .title {
        font-size: 2.1rem;
      }

      .subtitle {
        font-size: 1rem;
      }

      .cardFront,
      .cardBack {
        padding: 1.5rem 2rem;
      }

      .cardBack .contactLinkContainer {
        width: 240px;
        flex-wrap: wrap;
        gap: 0.5rem;

        a img {
          width: 20px;
        }
      }
    }

    .contactRight {
      height: 500px;
      width: 100%;
      justify-content: flex-end;

      .imgContainer {
        justify-content: flex-end;
        align-items: center;
        height: 324px;
        width: 100%;

        img.avatarAn {
          width: 324px;
        }

        img.avatarWink {
          width: 284px;
        }
      }
    }
  }
}

// Small Mobile (320px - 480px)
@media (max-width: 480px) {
  .contactSection {
    .contactLeft {
      height: 300px;
      width: 320px;

      .title {
        font-size: 1.5rem;
      }

      .subtitle {
        font-size: 1rem;
      }

      .cardFront,
      .cardBack {
        padding: 1rem 1.5rem;
      }

      .cardBack .contactLinkContainer {
        width: 180px;

        a img {
          width: 20px;
        }
      }
    }
    .contactRight {
      height: 460px;
      width: 100%;
      justify-content: flex-end;

      .imgContainer {
        justify-content: flex-end;
        align-items: center;
        height: 324px;
        width: 90%;

        img.avatarAn {
          width: 304px;
        }

        img.avatarWink {
          width: 264px;
        }
      }
    }
  }
}
